/* Global */
*, html {
    margin: 0;
}

:root {
  --primary-yellow: #2CA0E1;
  --secondary-yellow: #2CA0E1;
  --bgc-grey: #fafafa;
  --primary-grey: #c8dad3;
  --dark-grey: #3f3f3f;
}

body {
  font-family: 'SF', Arial, Helvetica, sans-serif;
  background-color: var(--primary-yellow);
  color: white;
}

/* Typography */
@font-face {
  font-family: 'SF';
  src: url('/fonts/SF-Pro-Text-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'SF';
  src: url('/fonts/SF-Pro-Text-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'SF';
  src: url('/fonts/SF-Pro-Text-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'SF';
  src: url('/fonts/SF-Pro-Text-Bold.otf');
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0.02rem;
  text-align: center;
  margin: 2rem 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

h3 {
  text-transform: none;
}

/* Form elements */
form {
  background-color: white;
  padding: 3rem 6rem;
  color: black;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.shadow {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container form {
  display: inline-block;
}

.label-input-div label {
  display: block;
}

/* Button */
button {
  padding: 0.75rem 1.5rem;
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, border 0.2s;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
  border: 2px solid var(--primary-yellow);
  color: var(--primary-yellow);
  width: 100%;
}

button:hover {
  background-color: var(--primary-yellow);
  color: white;
  /* border: 2px solid black; */
}

/* Inputs and labels */
input {
  border: 2px solid var(--primary-grey);
  padding: 0.4rem;
  transition: border 0.1s, box-shadow 0.2s;
  font-size: 1rem;
}

input:focus {
  border: 2px solid var(--dark-grey);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}
