/* Global */
:root {
    --primary-yellow: #fdef96;
    --secondary-yellow: #f6ef98;
    --primary-grey: #c8dad3;
    --dark-grey: #3F3F3F;
}

body {
    font-family: 'SF', Arial, Helvetica, sans-serif;
}

/* Typography */
@font-face {
    font-family: "SF";
    src: url("/fonts/SF-Pro-Text-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "SF";
    src: url("/fonts/SF-Pro-Text-Regular.otf");
    font-weight: 400;
}

@font-face {
    font-family: "SF";
    src: url("/fonts/SF-Pro-Text-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "SF";
    src: url("/fonts/SF-Pro-Text-Bold.otf");
    font-weight: 600;
}

h2, h3 {
    font-weight: 500;
    text-transform: uppercase;
}

/* Form elements */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form {
    display: inline-block;
}

.label-input-div label {
    display: block;
}

/* Button */
button {
    padding: 0.75rem 1.5rem;
    background-color: white;
    outline: none;
    border: none;
    background-color: var(--primary-yellow);
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

button:hover {
    background-color: var(--secondary-yellow);
}

/* Inputs */
input {
    border: 1px solid var(--primary-grey);
    padding: 0.2rem;
    transition: border 0.1s;
}

input:focus {
    border: 1px solid var(--dark-grey);
}